*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 62.5%;
}

body{
    width: 100vw;
    height: 100vh;
}

header{
    width: 100%;
    height: 6rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 2rem;
    position: fixed;
    top: 0;
    background-color: #E60060;
    color: #fff;
    z-index: 10;
}

main{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    margin-top: 6rem;
    width: 100%;
    min-height: calc(100vh - 12rem);
    /* position: relative; */
}

footer{
    width: 100%;
    height: 6rem;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #E60060;
    color: #fff;
    margin-top: 5rem;
}

#nombre_sitio{
    font-size: 2rem;
}

#hero{
    width: 100%;
    position: relative;
}

.hero_picture{
    width: 100%;
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

#hero_picture_1{
    display: flex;
}

#hero img{
    width: 100%;
    max-width: 140rem;
    height: 34rem;
    max-height: 34rem;
    object-fit: cover;
}

#flechas_hero{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 1rem;
}

#flechas_hero img{
    width: 4rem;
    height: 4rem;
}

#flecha_avanzar_hero{
    transform: rotateY(180deg);
}

h1{
    margin-top: 2rem;
    text-align: center;
    font-style: italic;
}

nav{
    position: relative;
}

#icono_menu{
    display: block;
}

#icono_cerrarMenu{
    display: none;
}

#menu_desktop{
    display: none;
}

#menu_movil{
    display: none;
    flex-direction: column;
    position: absolute;
    right: -2rem;
    top: 5.3rem;
    background-color: #fff;
    width: 20rem;
    border-radius: 5px;
 }

#menu_movil li{
    list-style: none;
}

#menu_movil li a{
    display: inline-flex;
    justify-content: flex-start;
    align-items: center;
    padding-left: 5px;
    width: 100%;
    height: 5rem;
    border-top: 1px solid #333;
    text-decoration: none;
    font-size: 1.8rem;
    color: #333;
}

#menu_movil li:first-child a{
    border-top: none;
}

#menu_movil li:nth-child(2) a{
    justify-content: space-between;
}

#suscribete_contactanos{
    width: 100%;
    max-width: 100rem;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 3rem;
}

#suscribete, #contactanos{
    width: 100%;
    max-width: 40rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#suscribete form{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 2rem;
}

#suscribete form input[type="email"]{
    width: 28rem;
    height: 4.5rem;
    padding-left: 0.5rem;
    /* margin-top: 0.5rem; */
    border: 1px solid #333;
    font-size: 1.6rem;
}

#suscribete form input[type="submit"]{
    height: 4.5rem;
    padding: 0 1rem;
    background-color: green;
    border: none;
    color: #fff;
    font-size: 1.8rem;
    cursor: pointer;
}



#suscribete_etiqueta, #contactanos_etiqueta{
    width: 100%;
    max-width: 35rem;
    height: 4.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1rem 0.5rem;
    background-color: #333;
    color: #fff;
    font-size: 1.6rem;
}

#suscribete_etiqueta img, #contactanos_etiqueta img{
    width: 2rem;
    height: 2rem;
    margin-right: 1rem;
}

#contactanos{
    margin-top: 5rem;
}

#contactanos_componentes{
    width: 40rem;
    display: flex;
    justify-content: space-between;
    padding-top: 1.5rem;
}

#contactanos_componentes img{
    width: 5rem;
}

#contactanos_llamar, #contactanos_whatsapp{
    
    display: flex;
   
    align-items: center;
}

#contactanos_llamar{
    width: 70%;
    justify-content: flex-start;
    padding-left: 4rem;
}

#contactanos_llamar a{
    display: flex;
    justify-content: center;
    align-items: center;
    color: #333;
}

#contactanos_whatsapp{
    width: 30%;
    justify-content: flex-end;
    padding-right: 4rem;
}

#contactanos_componentes span{
    font-size: 2rem;
    margin-left: 0.3rem;
}




