h1{
    font-size: 2.4rem;
}

#flechas_hero{
    padding: 0 2rem;
}

#contactanos{
    margin-top: 0;
}

#suscribete_contactanos{
    flex-direction: row;
}

#contactanos_header{
    display: none;
}

#items_destacados{
    max-width: 90%;
}

/* #item_destacado{
    width: 22rem;
} */




