.body_producto{
    background-color: #f2f2f2;
}

#menu_movil{
    display: none;
}

#iconos_menuMovil{
    display: none;
}

#menu_desktop{
    display: flex;
}

#menu_desktop li{
    list-style: none;
}

#menu_desktop li a{
    margin-left: 2rem;
    display: inline-block;
    padding: 0.5rem 1rem;
    text-decoration: none;
    font-size: 1.8rem;
    color: #fff;
}


#flechas_hero{
    padding: 0 7rem;
}

#flechas_hero img{
    cursor: pointer;
}

#flechas_hero img:hover{
    color: #333;
}

#suscribete form input[type="submit"]:hover{
    background-color: #333;
}

#suscribete form input[type="submit"]{
    margin-left: 0.5rem;
}

#suscribete{
    flex-direction: row;
    max-width: 55rem;
    padding: 1rem;
}

#contactanos{
    display: none;
}

#suscribete form{
    padding-top: 0;
}

#suscribete_etiqueta{
    margin-right: 1rem;
}

nav{
    display: flex;
}

#contactanos_header{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 12rem;
}

#contactanos_header img{
    width: 3rem;
    margin-left: 5rem;
}

#contactanos_header span{
    font-size: 1.5rem;
}

.item_destacado{
    cursor: pointer;
    transition: all 0.3s;
}

.item_destacado:hover{
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.imagenes_miniatura{
    display: flex;
}

.producto_envioCompra button{
    cursor: pointer;
    transition: all 0.3s;
}

.producto_envioCompra button:hover{
    background-color: #2968C8;
}
